*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(black,black);
}
.color-gradient-div{
    height: 499px;
    width: 799px;
border-radius: 12px;
margin-top: 10px;
background-color: white;
}
.main-heading{
    margin: 0 auto;
    margin-top: 29px;
    background: linear-gradient( blue,pink);
    height: 69px;
    width: 669px;
    border-radius: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}
.chose-color-preview{
    margin: 0 auto;
    height: 362px;
    width: 689px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-selector-div{
    height: 88%;
    width: 50%;
}
.preview-div{
    width: 50%;
    height: 88%;
}
label{
    font-size: 29px;
}
#color-starting{
    margin: 15px 0px;
    height:45px;
    width: 289px;
}
#color-ending{
    margin: 15px 0px;
    height:45px;
    width: 289px;
}
#gen-gradient-btn{
    width: 299px;
    height: 45px;
    border-radius: 9px;
    font-size: 21px;
    color: white;
    background: linear-gradient( blue,pink);
    cursor: pointer;
}
#preview{
    background: linear-gradient(black,black);
    height: 169px;
    width: 339px;
    margin: 0 auto;
    border-radius: 12px;
}